:root {
  /* -----COLOR----- */
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);

  --neutral-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);

  /* -----FONT----- */
  --ff-main: "Red Hat Display", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

button,
input[type="submit"],
input[type="reset"] {
  all: unset;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-main);
  background: var(--primary-pale) url(images/pattern-background-desktop.svg);
  background-size: contain;
  line-height: 1.5;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3 {
  font-size: 1.6rem;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  align-items: center;
}

.card {
  max-width: 400px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 0.75em;
  background-color: white;
}

/* @media screen and (max-width: 1100px) and (orientation: portrait) {
  .card {
    max-width: 370px;
  }
} */

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
  }
}

.card__main {
  padding: 10% 10%;
}

.card__info {
  text-align: center;
}

.card__text {
  font-weight: var(--fw-medium);
  color: var(--neutral-desaturated);
}

.card__title {
  font-weight: var(--fw-black);
  color: var(--neutral-dark);
}

.card__title--small {
  font-size: 1rem;
}

.card__plan {
  background-color: var(--neutral-pale);
  border-radius: 0.75em;
  padding: 1em;
  justify-content: space-between;
  margin-bottom: 1.75em;
}

.plan__text {
  flex-flow: column;
  margin-left: 1em;
}

.plan__price {
  margin: 0;
  margin-top: 0.2em;
}

.plan__button {
  color: var(--primary-bright);
  text-decoration: underline;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}

.plan__button:hover,
.plan__button:focus {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.card__button {
  --button-shadow: hsla(245, 75%, 52%, 0.2);
  background-color: var(--primary-bright);
  text-align: center;
  color: white;
  border-radius: 0.75em;
  width: 100%;
  padding: 1em 0;
  box-shadow: 0px 20px 20px -7px var(--button-shadow);
  margin-bottom: 2em;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}

.card__button:hover,
.card__button:focus {
  opacity: 0.6;
  cursor: pointer;
}

.card__secondary-button {
  width: 100%;
  text-align: center;
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}

.card__secondary-button:hover,
.card__secondary-button:focus {
  opacity: 1;
  cursor: pointer;
}
